<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="canDrag()">
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <!--button 
          ng-show="current != 'app.cart' && current != 'app.checkout' && current != 'app.order-detail'"
          class="button button-icon button-clear  button-small ion-ios-cart-outline" ng-click="goTo('app.cart')">
          {{Cart.CachedTotal.total_count}}
        </button-->
      </ion-nav-buttons>
      
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-search" ng-click="goTo('app.search2')">
        </button>
      </ion-nav-buttons>
      
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <!--ion-header-bar class="bar-dark">
      <h1 class="title logo">Ionic Shop ++</h1>
    </ion-header-bar-->
    <ion-content class="dark">
      <ion-list>
        <!-- 
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        See app.account
        -->
        
        <!--ion-item class="item item-icon-left item-dark" menu-close href="#/app/cart">
          <i class="icon ion-ios-cart"></i>
          Cart 
          <span class="badge badge-assertive">{{Cart.CachedTotal.total_count}}</span>
        </ion-item-->
        
        <ion-item class="item item-icon-left item-dark" menu-close href="#/app/browse2">
          <i class="icon ion-ios-pricetag"></i>
          Browse
        </ion-item>
        
        <ion-item class="item item-icon-left item-dark" menu-close href="#/app/search2/null/">
          <i class="icon ion-ios-search"></i>
          Search
        </ion-item>
        
        <ion-item class="item item-icon-left item-dark" menu-close href="#/app/wallet2">
          <i class="icon ion-ios-heart"></i>
          My saved items
        </ion-item>
        
        <!--ion-item class="item item-icon-left item-dark" menu-close href="#/app/orders">
          <i class="icon ion-bag"></i>
          Order history
        </ion-item-->
        
        <ion-item class="item item-icon-left item-dark" menu-close href="#/app/account/">
          <i class="icon ion-ios-person"></i>
          Account
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
