<ion-view view-title="Latest" hide-nav-bar="true" ion-cover-header="300">

<!-- nav-bar를 삭제하고 header-bar를 인위적으로 만든다. ion-cover-header 때문에 
  왼쪽에는 information 오른쪽에는 search 기능르 추가 한다. 
-->
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon button-clear ion-ios-information-outline" ng-click = ""> </button>
    </div>
    <h1 class="title">      
      Latest</h1>
    <div class="buttons">
      <button class="button button-clear button-icon ion-ios-search"  ng-click="searchModal.show()"></button>
    </div>
  </ion-header-bar>
    
  <!--ion-nav-buttons side="right">
    <button class="button button-clear button-icon ion-ios-more" ng-click="openPopover($event)"></button>
    &nbsp;&nbsp;&nbsp;
    <button class="button button-clear button-icon ion-ios-search" ng-click="goTo('app.search2')"></button>
  </ion-nav-buttons-->
    
  <ion-content ng-switch="status.initLoading">
    
    <!-- on loading slide images -->
    <!-- you need to set ng-show value-->
    <ion-spinner icon="crescent" align="center" style="margin-left: auto; margin-right: auto; display:block;" ng-show="false"></ion-spinner>
    
    <ion-slide-box 
    class="{{status.productSizeCSS}} slidebox"
    on-slide-changed="slideHasChanged($index)"
    auto-play="true" slide-interval="3000" does-continue="true">
    
    <!-- slide -->
    <ion-slide
      
      ng-repeat="image in sliderImages"
      ng-click="">
      
      <!-- img -->
      <img style="width:100%;height:auto" ng-src="{{image.src}}">
      
    </ion-slide>
  </ion-slide-box>

    <ion-refresher
      pulling-icon="ion-ios-arrow-thin-down"
      spinner="ripple"
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div ng-switch-when="true">
      <div class="center padding">
        <br>
        Loading the latest hot products... <br><br>
        <ion-spinner icon="ripple"></ion-spinner>
      </div>
    </div>
    <div ng-switch-when="false">
      <!-- CONTENT -->
      
      
      
      <div 
        ng-repeat="(categoryId, categoryObj) in Categories" 
        ng-init="loadProducts(categoryId)" 
        ng-show="status.loading[categoryId] != null">
        
        <label class="item item-divider" ng-click="goToCategory(categoryId)">
          {{::categoryObj.title}}
          <span class="item-note">
            View all
          </span>
        </label>
            
        <div ng-switch="status.loading[categoryId]">
          <div ng-switch-when="true" class="center">
            <br>
            <ion-spinner icon="ripple"></ion-spinner>
            <br><br>
          </div>
          <div ng-switch-when="false" class="center">
            <!--Loaded -->
            <browse-products2></browse-products2>
            <!-- // Loaded -->
          </div>
        </div>

      </div>
      
      <!-- // CONTENT -->
    </div>
    
    
  </ion-content>
</ion-view>


<script id="popovers/popover-sorting2.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">Change sorting</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-click="selectSortProperty('price', 'desc')">
          Price (H-L)
        </ion-item>
        <ion-item ng-click="selectSortProperty('price', 'asc')">
          Price (L-H)
        </ion-item>
        <ion-item ng-click="selectSortProperty('sales_count', 'desc')">
          Most popular
        </ion-item>
        <ion-item ng-click="selectSortProperty('sales_value_total', 'desc')">
          Highest turnover
        </ion-item>
        <ion-item ng-click="selectSortProperty('comments_count', 'desc')">
          Most discussed
        </ion-item>
        <ion-item ng-click="selectSortProperty('ratings_overall', 'desc')">
          Best rating
        </ion-item>
        <ion-item ng-click="selectSortProperty('timestamp_creation', 'desc')">
          Date
        </ion-item>
        <ion-item ng-click="selectSortProperty('timestamp_update', 'desc')">
          Last updated
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-popover-view>
</script>