<ion-view view-title="{{ProductMeta.categoryId}}" hide-nav-bar="true" ion-cover-header="300">

  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <button class="button button-icon button-clear ion-ios-information-outline" ng-click = ""> </button>
    </div>
    <h1 class="title">      
      {{ProductMeta.categoryId}}</h1>
    <div class="buttons">
      <button class="button button-clear button-icon ion-ios-search"  ng-click="searchModal.show()"></button>
    </div>
  </ion-header-bar>

  <ion-content id="map-view" data-tap-disabled="true" ng-switch="status.loading">
    
    <div ng-switch-when="true">
      <div class="center padding">
        <br>
        Loading your product... <br><br>
        <ion-spinner icon="ripple"></ion-spinner>
      </div>
    </div>
    
    <div ng-switch-when="false">
      <!-- CONTENT -->
      
      <!-- ----------------------------------------------------------------- -->
      <!-- ----------------------------------------------------------------- -->
      <!-- IMAGES -->
      <ion-slide-box 
        class="{{status.productSizeCSS}} slidebox"
        on-slide-changed="slideHasChanged($index)">
        
        <!-- slide -->
        <ion-slide 
          class="center" 
          ng-repeat="(imageKey, image) in ProductImages"
          ng-click="changeImageSize()">
          
          <!-- img -->
          <img  ng-src="{{image}}">
          
          <!-- extend icon -->
          <!--span class="product extend-icon" ng-switch="status.productSizeCSS">
            <span ng-switch-when="product small"><i class="icon ion-arrow-expand"></i></span>
            <span ng-switch-when="product"><i class="icon ion-arrow-shrink"></i></span>
          </span-->
        </ion-slide>
      </ion-slide-box>
      <!-- /IMAGES -->

      <span id="inventory_nb_items_top" ng-show="ProductIndexValues['inventory_nb_items'] > 0">
        Only {{ProductIndexValues.inventory_nb_items}} left!
      </span>
      <span id="discount_perc" ng-show="ProductMeta['discount_perc']">
        -{{ProductMeta['discount_perc']}}%
      </span>
      
      
      <!-- ----------------------------------------------------------------- -->
      <!-- ----------------------------------------------------------------- -->
      <!-- DETAILS -->
      
      
      
      <!--div class="statistics" ng-show="!status.loadingIndex">
        <div class="row">
          <div class="col center">
            <span id="old-price" class="larger" ng-show="ProductMeta['discount_perc']">
              ${{getOldPrice(ProductMeta['price'], ProductMeta['discount_perc']) }}
            </span>
            <span id="current-price" class="larger">
                ${{getCurrentPrice(ProductMeta['price'], ProductMeta['discount_perc'])}}
            </span>
          </div>
        </div>
        <div class="row" ng-show="ProductMeta['discount_date_end']">
          <div class="col center">
            <span id="discount_date_end">
                Deal ends {{formatTimestamp(ProductMeta['discount_date_end'])}}
            </span>
          </div>
        </div>
      </div-->
      
      
      <div class="product center">
        <h1>{{ProductMeta.title}}</h1>
  
        <p>
            <!-- 
            Alternatively use stars
            <stars rating="{{ProductIndexValues['ratings_avg']}}"></stars>
            ({{ProductIndexValues['ratings_count']}})
            -->
            <i class="ion-ios-chatbubble"></i>
            {{ProductIndexValues['comments_count']}}
            &nbsp;&nbsp;
            <i class="ion-ios-cart"></i>
            {{ProductIndexValues['sales_count']}}
            &nbsp;&nbsp;
            <i class="ion-ios-star"></i>
            <span ng-show="ProductIndexValues['ratings_count'] != 0">{{ProductIndexValues['ratings_avg'].toFixed(1)}}</span>
             ({{ProductIndexValues['ratings_count']}})
        </p>
      </div>
      
      <!-- Markdown -->
      <div class="padding-sides large text-left">
        <div markdown="{{ProductMeta.description}}"></div>
      </div>

      
      <!-- // DETAILS -->
      
      <!-- ----------------------------------------------------------------- -->
      <!-- ----------------------------------------------------------------- -->
      <!-- ATTRIBUTES -->
      <div class="padding-sides large" ng-show="ProductMeta.attributes">
        <ul class="example-animate-container">
          <li ng-repeat="(aType, value) in ProductMeta.attributes">            
            {{aType}}
            <div ng-repeat="(aValue, other) in ProductMeta.attributes[aType]">
              <p>{{other}}</p>
            </div>
            <br>
          </li>
        </ul>
      </div>

      <!-- // ATTRIBUTES -->
      
      <!-- ----------------------------------------------------------------- -->
      <!-- ----------------------------------------------------------------- -->
      <!-- TAGS -->
      <div class="product tags center grey">
          <button
            class="button button-stable button-small tagbutton"
            ng-click="goToTag(ProductMeta.categoryId)">
            {{ProductMeta.categoryId}}
          </button>
          <button
            class="button button-stable button-small tagbutton"
            ng-repeat="tag in ProductMeta.tags" ng-click="goToTag(tag)">
            {{tag}}
          </button>
        </div>
      <!-- TAGS -->
      
      <!-- ----------------------------------------------------------------- -->
      <!-- ----------------------------------------------------------------- -->
      <!-- AUTHOR -->
      
      <div class="row author" ng-show="!status.loadingAuthor">
        <div class="col col-20">
          <img ng-src="{{AuthorData.profilePicture || 'img/ionic.png'}}">
        </div>
        <div class="col">
          <h1>{{AuthorData.meta.displayName}}</h1>
          <h2>담당자:@{{AuthorData.meta.username}}
            <span ng-show="AuthorData.other.location">({{AuthorData.other.location}})</span>
          </h2>
          <p>{{AuthorData.other.bio}}</p>

          <button 
            class="button button-stable button-small tagbutton" 
            ng-click="loadAuthorProducts(ProductMeta.userId)">
            &nbsp;More from this author
          </button>

        </div>
      </div>
      
      <!-- // AUTHOR -->
      
      

      <!-- ----------------------------------------------------------------- -->
      <!-- ----------------------------------------------------------------- -->
      <!-- INTERACTION -->
      
      <div class="interaction grey">
        
        <!-- Header -->
        <div class="row interaction-header">
          <div class="col">
            <button class="button button-block button-clear" ng-click="loadComments(); activateTab('comments')">
              Comments
              ({{ProductIndexValues.comments_count}})
            </button>
          </div>
          <div class="col">
            <button class="button button-block button-clear" ng-click="loadRatings(); loadPurchase(); activateTab('ratings')">
              Ratings
              ({{ProductIndexValues.ratings_count}})
            </button>
          </div>
        </div>
        
        <!-- COMMENTS -->
        <div ng-show="status.activeTab == 'comments'">
          
          <!-- header signed out -->
          <p ng-show="!AuthData.uid">
            You need to be <a href="" ng-click="goTo('app.account')">signed in</a> to post comments
          </p>
          
          <!-- header signed in -->
          <div ng-show="AuthData.uid">
            <label class="item item-input">
              <textarea rows="4" placeholder="Add comment" ng-model="FormData.commentValue"></textarea>
            </label>
            <button
               style="margin-top: 0px !important;"
              class="button button-block button-positive" 
              ng-click="addComment()">Submit</button>
          </div>
          
          <div ng-switch="status.loadingComments">
            <div ng-switch-when="true" class="center">
              <br>
              <ion-spinner icon="ripple"></ion-spinner>
            </div>
            <div ng-switch-when="false">
              <!-- comment -->
              <br>
              <div class="list" id='submit0'>

                <a class="item item-text-wrap item-light item-avatar text-left" 
                  ng-repeat="comment in ProductComments | orderBy: '-timestamp'">
                  <img ng-src="{{getCommentProfile(comment.userId).profilePicture || 'img/ionic.png'}}">
                  <h2>{{comment.message}}</h2>
                  <p class="small">{{getCommentProfile(comment.userId).meta.displayName}}&nbsp;&nbsp;&nbsp;
                  {{formatTimestamp(comment.timestamp)}}
                  </p>
                </a>
 
              </div>
              <!-- // comment -->
            </div>
          </div>
          
        </div>
        <!-- // COMMENTS -->
        
        
        <!-- RATINGS -->
        <div class="center" ng-show="status.activeTab == 'ratings'">
          
          <!-- header signed out -->
          <p ng-show="!AuthData.uid && AuthData.uid != ProductMeta.userId">
            You need to be <a href="" ng-click="goTo('app.account')">signed in</a> to post a rating
          </p>
          
          <!-- header signed in | did not purchase product -->
          <p ng-show="AuthData.uid && !status.purchaseBoolean && AuthData.uid != ProductMeta.userId && !status.loadingPurchaseBoolean">
            You need to have purchased this product in order to post a rating
          </p>
          
          <!-- header signed in | own product -->
          <p ng-show="AuthData.uid == ProductMeta.userId">
            You cannot rate your own product
          </p>
          
          <!-- header signed in | own product -->
          <p ng-show="getRatingProfile(AuthData.uid)">
            You rated this product {{ProductRatings[AuthData.uid].value}} stars
          </p>
          
          
          
          <!-- header signed in -->
          <div ng-show="AuthData.uid && !status.purchaseBoolean && AuthData.uid != ProductMeta.userId && !getRatingProfile(AuthData.uid)">
            <rating-stars-select></rating-stars-select>
            <br><br>
            <label class="item item-input">
              <textarea rows="4" placeholder="Optional" ng-model="FormData.ratingMessage"></textarea>
            </label>
            <button 
               style="margin-top: 0px !important;"
              class="button button-block button-positive" 
              ng-click="addRating()">Submit</button>
          </div>
          
          <div ng-switch="status.loadingRatings">
            <div ng-switch-when="true" class="center">
              <br>
              <ion-spinner icon="ripple"></ion-spinner>
            </div>
            <div ng-switch-when="false">
              <!-- rating -->
              <br>
              <div class="list">

                <a class="item item-text-wrap item-light item-avatar text-left" 
                  ng-repeat="(userId, rating) in ProductRatings | orderBy: '-timestamp'">
                  <img ng-src="{{getRatingProfile(userId).profilePicture || 'img/ionic.png'}}">
                  <h2>
                    <stars rating="{{rating.value}}"></stars>
                  </h2>
                  <h2>
                    {{rating.message}}
                  </h2>
                  <p class="small">{{getRatingProfile(userId).meta.displayName}}&nbsp;&nbsp;&nbsp;
                  {{formatTimestamp(rating.timestamp)}}
                  </p>
                </a>
 
              </div>
              <!-- // rating -->
            </div>
          </div>
          
        </div>
        <!-- // RATINGS -->
        
      </div>
      <!-- // INTERACTION-->
      
      <!-- // CONTENT-->
    </div>
    
    <!-- // Google Maps and distance -->
    <div class="padding-sides map text-left" ng-switch="status.distance">
       
      <div ng-switch-when="true">

        <span >distance: {{map.distance}}</span>
        <gmaps class="preview" 
        center="map.origin"
        zoom="map.zoom"
        markers="map.markers"
        ></gmaps>

      </div>
    </div>


  </ion-content>
  
  
  <ion-footer-bar align-title="left" class="bar-balanced">
    <div class="buttons">
      <button 
        style="margin: 0px !important;"
        class="button {{walletPressedCSS(status.productId)}} icon-left ion-ios-heart"
        ng-click="saveItem(status.productId)">
        &nbsp;Save
      </button>
      <!--button 
        style="margin: 0px !important;"
        class="button {{cartPressedCSS(status.productId)}} icon-left ion-ios-cart"
        ng-click="addToCart(status.productId)">
        &nbsp;Add to cart
      </button-->
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <!--button 
        style="margin: 0px !important;"
        class="button icon-left ion-ios-arrow-thin-right"
        ng-click="goTo('app.cart')">
        &nbsp;Checkout
      </button-->
    </div>
  </ion-footer-bar>

</ion-view>
