/* Empty. Add your own CSS if you like */

/* markdown for image resize */
img[alt=drawing] { width: 100%; }
/*
 * Map
 */

#map-view .scroll {
	height: 100%;
}

.gmaps {
	height: 100%;
}
.preview {
  display: block;
  padding: 0px 20px;
  background: #f5f5f5;
  height: 300px;
  overflow: scroll;
  border: 1px solid #ccc;
}
.padding-sides.map {
  padding: 20px 20px; }
